:root   {
    /* --color-base: # */
    /* --fullGrid: 1 / 1 / -1 / -1; */
}

body{
    font-family: 'Poppins', sans-serif !important;
}

#loader-blur {
    transition: all ease-in-out .5s;
}
.blur-out {
    /* filter: blur(0px) !important; */
}

.what-we-do-active {
    background: linear-gradient(139.37deg, #1D76BB -8.64%, #282560 107.27%)
}

.what-we-do-text-gradient {
    background: linear-gradient(139.37deg,
            #1d76bb -8.64%,
            #282560 107.27%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.what-we-do-active-notch {
    background: linear-gradient(139.37deg, #1D76BB -8.64%, #282560 107.27%);
    width: 5rem;
    height: 0.3rem;
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.what-we-do-active .what-we-do-active-notch {
    background: white !important;
    width: 5rem;
    height: 0.3rem;
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    overflow: visible;
    background: #fff url('../img/preload.gif') no-repeat center center ;
}
#header-whoweare .img-header{
    height: 85% !important;
}

#navbarNavAltMarkup.collapse {
    transform: translateX(110%);
    background: #343A40;
}

#navbarNavAltMarkup {
    transform: translateX(50%);
    background: #343A40;
}

.nav-colored.active {
    background: #076DDB;
}

.nav-colored {
    width: 100%;
    height: 4.4rem;
    position: fixed;
    z-index: 10;
    transition: all ease-in-out .3s;
}

#our-mission{
    /* height: 252px; */
    top:22%;
    position: relative;
}


.h-125{
    height: 125% !important;
}
.h-65 {
    height: 65% !important;
}
.border-footer{
    width: 100%;
    height: 2.5px;
    border-radius: 50px;
    background: #2D1D61;
    position: relative;
    top: -2.4rem;
}
#contact {
    position: relative;
    top: -95px;
    z-index: 999;
}
#socmed-management .frame-card {
    height: 552px;
    padding: 0px 0px 0px 30px;
}
#socmed-management h1 {
    color: #2D1D61;
    font-size: 36px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 130%;
    padding-bottom: 40px !important;
    text-transform: capitalize;
}
#socmed-management span p{
    color: #363049;
    font-size: 18px;
    font-family: Poppins;
    line-height: 150.7%;
    letter-spacing: 0.1px;
    padding-bottom: 40px !important;
}
#our-mission h1 {
    color: #2D1D61;
    font-size: 36px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 130%;
    padding-bottom: 40px !important;
    text-transform: capitalize;
}

.header-hero{
    position: relative;
    overflow: hidden;
    height: 100vh;
    top: -6%;
    background-color:black;

}
.header-hero video {
    position: absolute;
    z-index: 1;
    top: 0;
    width:100%;
    height:100vh;
    /*  object-fit is not supported on IE  */
    object-fit: cover;
    opacity:0.3;
}

.footer-hero{
    position: relative;
    overflow: hidden;
    height: 100vh;
    top: -6%;
    background-color:black;

}
.footer-hero video {
    position: absolute;
    z-index: 1;
    top: 0;
    width:100%;
    height:100%;
    /*  object-fit is not supported on IE  */
    object-fit: cover;
    opacity:0.3;
}
#hero {
    background: url("../images/bg-landing.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    /* margin-top: -91px; */
    padding-top: 31px;
    z-index:9;
}

#hero img {
    width: 100%;
}

#hero .img-wa {
    width:12%;
    position: absolute;
    bottom: 8%;
    right: 8%;
}

#hero p {
    font-size: 80px;
}

.header-background {
    background-image: url('../img/bannerr.png');
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    height: 1080px;
}
#header-whoweare h1{
    color: #2D1D61;
    font-size: 36px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 130%;
    padding-bottom: 40px !important;
    text-transform: capitalize;
}
#service {
    position: relative;
    height: 100%;
    top: 10%;
}
#service-content {
    top:8rem;
    /* left:15vh; */
}

#header-whoweare .img-header{
    height: 85%;
    margin-left: 10%;
}
#header-whoweare .img-mobile{
    /* height: 85%; */
    display: none;
}

.bottom-part {
    width: 100%;
    height: auto;
    background: url("../img/rectangle-center.png") no-repeat center center;
    background-size: cover;
}

#our-vision {
    background: url('../img/rectangle-center.png')  no-repeat center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    height: 940px;
}
.vision-card {
    fill: #FFF;
    stroke-width: 1px;
    stroke: #F3F4FE;
    border:0px solid !important;
    filter: drop-shadow(0px 50px 115px rgba(165, 153, 209, 0.30));
}
.vision-card p{
    color: #363049;
    font-family: Poppins;
    font-size: 12px !important;
    font-style: normal;
    font-weight: 450;
    line-height: 140.2%;
    letter-spacing: 0.3px;
}

#footer form label {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;

}

#footer form .form-control {
    background: transparent !important;
    border:0px solid;
    border-radius: 0px;
    border-bottom: 2px solid white !important;
}

#footer .btn-submit {
    width: 265px;
    color:white;
    border-radius: 68px;
    background: linear-gradient(90deg, #2DBEAB 0%, #1BB5F7 100%);
}

#our-works {
    background: url(../img/aksen_our_works.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
    height: 60rem;
    top:12rem;
}

#phone-x1 {
    height: 15rem;
    object-fit: contain;
    margin-bottom: -2rem;
}

footer #wave {
    top: -5.2rem;
    z-index: 9;
}

@media (min-width:992px) {
    #service {
        height: 65% !important;
    }

    #our-works {
        background: url(../img/aksen_our_works.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 55rem;
    }

    #hero .img-wa {
        width:22%;
        position: absolute;
        bottom: 8%;
        right: 8%;
    }

    footer #wave {
        top: -13rem !important;
    }

    #phone-x1 {
        height: 40rem;
    }
}
@media (min-width:768px)   { 
    #service {
        height: 90%;
    }
    
    #service-content {
        top:6rem;
        left:0;
    }

    #hero .img-wa {
        width:25%;
        position: absolute;
        bottom: 8%;
        right: 8%;
    }

    #navbarNavAltMarkup.collapse {
        transform: translateX(0%);
        background: transparent;
    }
    
    #navbarNavAltMarkup {
        transform: translateX(0%);
        background: transparent;
    }

    .nav-colored {
        height: 100px;
    }

    footer #wave {
        top: -7rem;
    }
}

@media (min-width:481px)   {  
    .border-footer{
        display: none;
    }
    #header-whoweare .img-header {
        /* display: none; */
    }
    
    #hero .img-wa {
        width:15%;
        position: absolute;
        bottom: 8%;
        right: 8%;
    }
    #service-content {
        top:6rem;
        left:0;
    }
}